.wrap{
    width: 80%;
    margin: auto;
    border-radius: 10px;
    font-family: comic;
    color: rgb(68, 0, 255);
    background-color: rgba(186, 191, 196, 0.849);
    padding: 5px;
    margin: 10%;
    position: absolute;
    top: 0%;
    left: 15%;

}
header{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(udinus-campus.jpg);
    height: 300vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 5px;
    margin: 10%;
    text-align: justify;
}
h1{
    text-align: center;
}
table{
    border: 1px;
    padding: 10px 30px;
    position: absolute;
}
table td{
    Padding: 5px;
}
input type{
    width: 50px;
    font-family: comic;
    height: 30px;
    background-color: rgb(32, 32, 34);
    color: rgb(0, 0, 0);
    border-radius: 7px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
ul{
    float: right;
    list-style: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    border: 1px solid;
    padding: 10px 50px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 5px;
}
.logo img{
    float: left;
    width: 300px;
    height: auto;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;

}
.main{
    max-width: 1200px;
    margin: auto;
}

h1
{
    border-bottom:1px solid #eceff1;
    margin:0;
    font-weight:700;
    font-family: sans-serif ;
}

