*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(udinus-campus.jpg);
    height: 160vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    border: 1px solid;
    padding: 10px 50px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 5px;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 300px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
    
}
.title{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%-50%)
}
.title h1{
    font-family: sans-serif;
    color: #fff;
    font-size: 100px;
}
.button{
    position: absolute;
    top: 400px;
    left: 35%;
    transform: translate(-50% -50%) 
}
.btn1{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    border: 1px solid;
    transition: 0.5s ease;
    border-radius:5px;
    margin: 10px;
}
.btn1:hover{
    background: #fff;
    color: #000;
}
.btn2{
    border: 1px solid;
    padding: 10px 50px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
    border-radius: 5px;
}
.btn2:hover{
    background: #fff;
    color: #000;
}