.wrap{
    width: 50%;
    margin: auto;
    border-radius: 10px;
    font-family: comic;
    color: rgb(68, 0, 255);
    background-color: rgba(186, 191, 196, 0.849);
    padding: 5px;
    margin: 10%;
    position: absolute;
    top: 0%;
    left: 15%;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(udinus-campus.jpg);
    height: 160vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 5px;
    margin: 10%;
}
h1{
    text-align: center;
}
table{
    border: 1px;
    padding: 10px 30px;
    position: absolute;
}
table td{
    Padding: 5px;
}
input type{
    width: 50px;
    font-family: comic;
    height: 30px;
    background-color: rgb(32, 32, 34);
    color: rgb(0, 0, 0);
    border-radius: 7px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
ul{
    float: right;
    list-style: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    border: 1px solid;
    padding: 10px 50px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 5px;
}
.logo img{
    float: left;
    width: 300px;
    height: auto;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;

}
.main{
    max-width: 1200px;
    margin: auto;
}
.button
{
    display:inline-flex;
    align-items:center;
    margin:12px 12px 12px 0;
    padding:10px 15px;
    outline:0;
    border:0;
    border-radius:2px;
    line-height:20px;
    color:#fefefe;
    background-color:#3B5999; 
    font-size:13px;
    white-space:nowrap;
    overflow:hidden;
}
.button:hover
	{
	opacity:0.7
	}